@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.intro1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: #0099d0;
    padding-top: 30px;
}
  
.headline-img {
  top: 0;
  left: 0;
  height: 0;
}

.about-con {
    text-align: center;
}

.section2 {
    text-align: center;
}

.title1 {
  font-weight: bolder;
  font-size: 35px;
  color: #0099d0;
  padding-top: 20px;
  margin-bottom: 50px;
}

.discription1 {
    border: 1px solid gray;
    background: #fff;
    padding: 15px 15px 15px 15px;
    color: rgb(51, 51, 51);
    margin-bottom: 30px;
}

.about-text1 {
  font-family: poppins, sans-serif;
  color: rgb(51, 51, 51);
  display: block;
  margin-bottom: 80px;
}

.email {
  text-decoration: underline;
  font-weight: 600;
}

.about-text2 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.desh {
  margin-bottom: 20px!important;
  margin-top: 20px!important;
  width: 30px;
}

.p-tag1 {
  color: rgb(51, 51, 51);
}

.logo2 {
  font-size: 50px;
  font-weight: bolder;
  color: #0099d0;
  border: 1px solid gray;
  padding: 20px 15px 20px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.see {
  font-size: 20px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.about-disc {
  color: rgb(51, 51, 51);
}

.v1 {
  margin-bottom: 20px;
}

.v2 {
  margin-bottom: 40px;
}